.div1{
width: 30%;
height: 90vh;
background-color: rgb(167, 165, 164);
margin: auto;
border-radius: 30px;
margin-top: 20px;

}
.div2{
width: 100%;
height: 8vh;
background-color:rgb(112, 112, 150) ;
border-radius: 30px 30px 0px 0px;
 display: inline-flex;
 align-items: center;

}
#h1{
color: rgb(253, 252, 252);
font-weight: 150;

}
#a1{
font-size: 23px;
margin-left: 15px;

}
.div3{
width: 100%;
height: 60vh;
background-color: rgb(190, 204, 204);
}
#h2{
margin-left: 180px;

}
.div4{
width: 100%;
height: 10vh;
background-color: rgb(102, 102, 148);
margin-top: 70px;
border-radius:0px 0px 30px 30px ;



}
#inp1{
width: 70%;
min-height: 5vh;
background-color: white;
margin-top: 15px;
margin-left: px;
border-radius: 20px;


}
#a3{
font-size: 30px;
margin-left: 80px;
margin-top: 22px;
background-color: rgb(102, 102, 148) ;
outline: none;
position: absolute;
}
#a2{
    font-size: 30px;
    margin-left: 30px;
    margin-top:22px;
    position: absolute;
    }